@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e7eaf6;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    min-width: 400px;
}


h1 {
    color: #718ca1;
    font-size: 4rem;
    margin: 10px;
    opacity: 0.5;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #718ca1;
    border-radius: 15px;
    max-width: 100%;
    width: 400px;
}

.input {
    border: none;
    border-radius: 15px 0 0 0;
    width: 100%;
    margin: 0 0 10px;
    font-size: 1.6rem;
    padding: 7px 14px;
    display: block;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 85% 15%;
    height: 20%;
}

#input-button {
    border: none;
    border-radius: 0 15px 0 0;
    cursor: pointer;
    height: 100%;
    font-size: 2em;
    color: #718ca1;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #d5d5d5;
}

.delete-button {
    visibility: hidden;
    opacity: 80%;
    border: none;
    border-radius: 10px;
    grid-column: 2;
    width: 55%;
    height: 45%;
    align-self: center;
    justify-self: center;
    cursor: pointer;

}

.trash {
    max-width: 100%;
    max-height: 100%;
}

.todos {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    padding: 0;
    list-style: none;
}

.todos li {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 20px 40px;
}

.todos li.completed {
    text-decoration: line-through;
    color: #b6b6b6;
}

small {
    font-size: 0.8rem;
    margin: 10px 0;
    opacity: 0.3;
}

